.styled-select select {
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
   overflow: hidden;
   background:  #ff6600;
	position:relative;
	width:100%;
   background: url(Resources/new_arrow3.jpg) no-repeat right #ddd;
   
   -webkit-appearance: none;
}

.styled-select input {
   background: white;
   width: auto;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
   overflow: hidden;
	position:relative;
	width:100%;
   -webkit-appearance: none;
}

body {
	background: white;
	font-family: arial;
}

.title-wording {
	text-align: center;
}

.styled-select input[type="submit"] {
	position:relative;
	width:auto;
	margin-left: 46%;
}
